html {
	overflow-y: scroll;
}

.navbar{
	position: relative;
}

.false {
	display: none;
}

.message {
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	font-weight: 700;
}

.image-gallery-description {
	background: rgba(0, 0, 0, 0.4);
	bottom: 70px;
	color: #fff;
	right: 0;
	left: auto !important;
	line-height: 1;
	padding: 10px 20px;
	position: absolute;
	white-space: normal; 
}

.date-selection {
	margin-top: 20px;
}

.date-selection-mobile {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

@media (max-width: 500px) {
	.date-selection-mobile,
	.react-datepicker-wrapper,
	.react-datepicker-popper,
	.react-datepicker__input-container,
	input {
		width: 100%;
		margin: 0 auto;
	}
	h1 {
		font-size: 20px;
	}	
}