body {
	margin: 0;
	height: 100%;
}
html {
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

body {
	margin: 0;
}

button {
	position: relative;
	width: 100px;
}

.humidity-circle {
	z-index: 900;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	margin-left: -11%;
}

.humidity-circle>text, .temp-circle>text {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.temp-circle>text {
	cursor: pointer;
}

.temp-circle {
	cursor: pointer;
	z-index: 1000;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

#react, .react-app {
	height: 100%;
}

.reading {
	position: fixed;
	text-align: center;
	border-radius: 50%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-end;
	flex-direction: row;
}

/*.reading {
	padding: 5px;
	position: absolute;
}*/


.navbar {
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	background: rgba(0, 0, 0, .4);
	color: white;
	padding: 20px 0 20px 0;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.navbar>h1{
	margin: 0;
}

.nav-item {
	display: inline-block;
}

.nav-item>a{
	color: white;
	text-decoration: none;
}

.custom-tooltip {
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
}

.bg-photo {
	height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-description {
	background: rgba(0, 0, 0, 0.4);
	bottom: 70px;
	color: #fff;
	right: 0;
	line-height: 1;
	padding: 10px 20px;
	position: absolute;
	white-space: normal;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

@media (max-width: 768px) {
	.image-description {
		bottom: 45px;
		font-size: .8em;
		padding: 8px 15px; 
	}
	h1 {
		font-size: 20px;
	}
}