{% load static %}
{% load jsontag %}

<head profile="http://www.w3.org/2005/10/profile">
	<title>{% block page_title %}{{ title }}{% endblock page_title %}</title>
	<link rel="stylesheet" href="{% static 'viewer/css/main.css' %}"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="Daniel Hayes">
	<meta name="description" content="website to view data recorded from a Raspberry Pi Weather Station">
	<meta name="keywords" content="weather, pi, raspberry pi, python, javascript, react">
	<link rel="icon" type="image/x-icon" href="{% static 'viewer/favicon.ico' %}">
</head>
<body>
	<div class="navbar">
		<h1>{{ title }}</h1>
	</div>
	<div id="react">
		<div class="info">
			Loading Components...
		</div>
	</div>

	<script>
		window.props = {{props|json}}
		window.react_mount = document.getElementById('react');
	</script>
	<script src="{% static 'viewer/js/' %}{{ component }}"></script>
</body>